.container {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--primary-blue);
    border-radius: var(--card-radius);
    overflow: hidden;
}

.data {
    z-index: 3;
    padding: var(--global-padding);
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: var(--grid-padding);
    padding-top: 4rem;
    background-color: var(--primary-blue);
}

.balance {
    font-size: 2rem;
    font-weight: 500;
}

.amount {
    font-size: 5rem;
    font-weight: 600;
}

.acc_number {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.acc_number p {
    font-size: 2rem;
}

.card_cover {
    object-fit: cover;
    width: 100%;
    position: absolute;
    bottom: 0;
}