.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 4rem auto 4rem;
    row-gap: var(--grid-padding);
    justify-items: center;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
}

.content h1 {
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
    color: var(--primary-blue);
}

.inpt_box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inpt_box label {
    font-size: 1.2rem;
    font-weight: var(--lbl-bold-weight);
}

.mess {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tags {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: var(--grid-padding);
}

.message_tag {
    width: fit-content;
    background-color: #E1E1E1;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 32px;

    cursor: pointer;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
}

.message_tag:hover {
    background-color: #fff;
}

.select_type {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 0.3px 0px var(--dark-gray);
    background-color: transparent;

    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

.select_type:hover {
    box-shadow: 0px 1px 0px #000;
}


@media (max-width: 1440px) {
    .content {
        height: 100%;
    }
}

@media (max-width: 1000px) {
    .container {
        grid-template-rows: 6rem auto 6rem;
        align-items: center;
    }
    .content {
        width: 100%;
        height: 100%;
        gap: 4rem;
    }
}