.container {
    padding: var(--grid-padding);
    background-color: var(--light-gray);
    border-radius: var(--card-radius);

    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.money {
    height: 2.4rem;
    display: flex;
    align-items: end;
    gap: 0.3rem;
}

.money h4 {
    font-size: var(--lbl-medium-size);
    font-weight: var(--lbl-bold-weight);
}

.money img {
    height: 50%;
    padding-bottom: 0.5rem;
}



.info {
    display: flex;
    flex-direction: column;
    gap: var(--grid-padding);
}

.identif {
    color: var(--hover-gray);
    font-size: 1.1rem;
}

.titl {
    color: #000;
    font-size: var(--lbl-mini-size);
    font-weight: var(--lbl-light-weight);
}


@media (max-width: 1024px) {
    .progress {
        display: none;
    }
}