.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


/*----- First block -----*/
.content {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    column-gap: var(--grid-padding);
}

.oborot {
    background-color: var(--light-gray);
    border-radius: var(--card-radius);
    padding: var(--grid-padding);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.oborot_item {
    display: flex;
    flex-direction: column;
    gap: var(--grid-padding);
}

.oborot_item p {
    color: var(--hover-gray);
    font-size: var(--lbl-small-size);
}

.oborot_item h2 {
    font-size: var(--lbl-medium-size);
    font-weight: var(--lbl-bold-weight);
}

.operations {
    width: 100%;
    display: grid;
    /* grid-template-rows: 4rem 4rem auto auto;*/
    grid-template-rows: min-content auto auto;
    row-gap: var(--grid-padding);
}

.oper_btns {
    display: grid;
    grid-template-rows: 4rem 4rem;
    row-gap: var(--grid-padding);
}


.action_btn {
    background-color: var(--primary-blue);
    border-radius: 32px;
    color: #fff;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);

    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.action_btn:hover {
    background-color: var(--hover-blue);
}


/*----- Second block -----*/
.analytics {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-padding);
}

.analytics h3 {
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
}

.cfo_table {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    column-gap: var(--grid-padding);
}





@media (max-width: 1280px) {
    .content {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--grid-padding);
    }

    .operations {
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 0;
        column-gap: var(--grid-padding);
    }
}

@media (max-width: 1000px) {
    .container {
        gap: 2rem;
    }

    .content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .create_btn {
        height: 4rem;
        font-size: var(--lbl-mini-size);

        outline: none;
        border: none;
        cursor: none;
        transition: none;
    }

    .create_btn:hover {
        background-color: var(--primary-blue);
    }

    .cfo_table {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: var(--grid-padding);
    }
}

@media (max-width: 500px) {
    .operations {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
        row-gap: var(--grid-padding);
        column-gap: 0;
    }

    .analytics h3 {
        font-size: var(--lbl-mini-size);
    }
}

@media (max-width: 500px) and (orientation: landscape) {
    .operations {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
        row-gap: var(--grid-padding);
        column-gap: 0;
    }

    .analytics h3 {
        font-size: var(--lbl-mini-size);
    }

    .cfo_table {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: var(--grid-padding);
    }
}