.container {
    min-height: 96vh;
    margin: 2vh 16vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;   
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header h2 {
    font-size: var(--lbl-small-size);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--grid-padding);
}

.oper_card {
    padding: 1.5rem;
    background-color: var(--light-gray);
    border-radius: var(--card-radius);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    row-gap: var(--global-padding);
    font-size: var(--lbl-mini-size);
}

.oper_card span {
    font-size: 1.1rem;
    font-weight: var(--lbl-bold-weight);
}



@media (max-width: 1000px) {
    .container {
        min-height: 96vh;
        margin: 2vh;
        gap: 2rem;  
    }
}

@media (max-width: 500px) {
    .header h2 {
        font-size: var(--lbl-mini-size);
    }
    .oper_card {
        padding: 1.4rem;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        row-gap: var(--grid-padding);
    }
}