.container {
	min-height: 96vh;
	margin: 2vh 16vw;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.empty_history {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 18px;

	font-size: 1.1rem;
	font-weight: var(--lbl-light-weight);
	color: var(--hover-gray);
}

.header h2 {
	font-size: var(--lbl-small-size);
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--grid-padding);
}

.oper_card {
	padding: 1.5rem;
	background-color: var(--light-gray);
	border-radius: var(--card-radius);

	display: grid;
	grid-template-columns: 0.8fr 2fr;
	align-items: center;
	gap: 20px;

	font-size: 1.3rem;
}

.oper_layout {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.amount {
	font-size: var(--lbl-small-size);
	font-weight: var(--lbl-bold-weight);
	padding-top: 4px;
}

.oper_card span {
	font-size: 1.1rem;
	font-weight: var(--lbl-light-weight);
	color: var(--hover-gray);
}

.purpose_cover {
	height: 11rem;
	justify-self: center;
}

@media (max-width: 1000px) {
	.container {
		min-height: 96vh;
		margin: 2vh;
		gap: 2rem;
	}
}

@media (max-width: 500px) {
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
	}
	.header h2 {
		font-size: var(--lbl-mini-size);
	}
	.oper_card {
		padding: 1.4rem;
		grid-template-columns: auto;
		grid-template-rows: repeat(4, 1fr);
		row-gap: var(--grid-padding);
	}
}
