.container {
    min-height: 96vh;
    margin: 2vh;

    display: grid;
    grid-template-columns: 4rem auto;
    grid-template-rows: 5.2rem auto;
    gap: var(--grid-padding);

    position: relative;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.user_info {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.user_info h2 {
    font-size: var(--lbl-medium-size);
    font-weight: var(--lbl-bold-weight);
}

.side_menu {
    position: absolute;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    top: 6rem;
}

.content {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-rows: 3rem auto;
    row-gap: 3rem;
}

.navigation {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid var(--dark-gray);
}



/* ---------- Adaptive ---------- */
@media (min-width: 3000px) {
    .container {
        width: 2024px;
        margin-left: auto;
        margin-right: auto;
    }

}