.container {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-blue);
    border-radius: var(--card-radius);
    overflow: hidden;
}

.data {
    z-index: 3;
    padding: var(--global-padding);
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: var(--grid-padding);
    padding-top: 2rem;
}

.balance {
    font-size: var(--lbl-medium-size);
    font-weight: var(--lbl-light-weight);
}

.amount {
    font-size: var(--lbl-king-size);
    font-weight: var(--lbl-bold-weight);
}

.acc_number {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.acc_number p {
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
}

.acc_nmbr {
    display: flex;
    align-items: center;
    gap: var(--grid-padding);
}

.card_cover {
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
    max-height: 75%;
    max-width: 30%;
}

.coin {
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.coin img {
    height: 2.4rem;
    padding-bottom: 1rem;
}



@media (max-width: 1024px) {
    .data {
        padding: var(--global-padding);
        gap: 0;
    }
    .balance {
        font-size: var(--lbl-small-size);
        font-weight: var(--lbl-light-weight);
    }
}