.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--grid-padding);
}

.analys {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% auto;
}

.period {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--grid-padding);
}



/* ---------- Adaptive ---------- */
@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-auto-flow: row;
        column-gap: 0;
        row-gap: var(--grid-padding);
    }

    .analys {
        grid-row-start: 2;
        grid-template-rows: 4rem auto;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: var(--grid-padding);
    }
}

