.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--grid-padding);
}

.analys {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% auto;
}

.period {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--grid-padding);
}