.container {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


/*----- First block -----*/
.content {
    width: 100%;
    height: 35vh;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 2fr;
    column-gap: var(--grid-padding);
}

.item {
    width: 100%;
    display: grid;
    grid-template-rows: auto 4rem;
    row-gap: var(--grid-padding);
}

.manage_btn {
    background-color: var(--primary-blue);
    border-radius: 32px;
    color: #fff;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);

    outline: none;
    border: none;
    cursor: pointer;
}


/*----- Second block -----*/
.analytics {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-padding);
}

.analytics h3 {
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
}

.cfo_table {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    column-gap: var(--grid-padding);
}