.container {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


/*----- First block -----*/
.content {
    width: 100%;
    height: 35vh;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    column-gap: var(--grid-padding);
}

.item {
    width: 100%;
    display: grid;
    grid-template-rows: 4rem auto;
    row-gap: var(--grid-padding);
}

.cfo_titl {
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.serv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--grid-padding);
}




.manage_btn {
    background-color: var(--primary-blue);
    border-radius: 32px;
    color: #fff;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);

    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.manage_btn:hover {
    background-color: var(--hover-blue);
}


/*----- Second block -----*/
.analytics {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-padding);
}

.analytics h3 {
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
}

.cfo_table {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    column-gap: var(--grid-padding);
}