.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: auto 4rem 8rem;
    gap: var(--grid-padding);
}

.transaction {
    background-color: var(--primary-blue);
    border-radius: 32px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;

    outline: none;
    border: none;
    cursor: pointer;
}