.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: auto 4rem 8rem;
    gap: var(--grid-padding);
}

.transaction_btn {
    background-color: var(--primary-blue);
    border-radius: 32px;
    color: #fff;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);

    outline: none;
    border: none;
    cursor: pointer;

    transition: all .3s ease-in-out;
}

.transaction_btn:hover {
    background-color: var(--hover-blue);
}

@media (max-width: 1000px) {
    .transaction_btn {
        cursor: none;
        transition: none;
        pointer-events: none;
    }
}

@media (max-width: 500px) {
    .transaction_btn {
        font-size: var(--lbl-mini-size);
    }
}