.container {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: var(--light-gray);
    border-radius: var(--card-radius);
}

.card {
    display: grid;
    grid-template-rows: 4rem auto 4rem;
    row-gap: var(--grid-padding);
    justify-items: center;
    padding: var(--global-padding);
}

.content {
    min-height: 30rem;
    width: 50vw;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}

.content h1 {
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
    color: var(--primary-blue);
}

@media (max-width: 1024px) {
    .container {
        width: auto;
        border-radius: 0;
    }
    .card {
        grid-template-rows: 6rem auto 6rem;
        align-items: center;
    }
    .content {
        width: 80%;
        gap: 4rem;
    }
}

@media (max-width: 500px) {
    .card {
        grid-template-rows: 6rem auto 6rem;
        align-items: center;
    }
    .content {
        width: 100%;
        gap: 4rem;
    }
}
