.container {
    min-height: 96vh;
    margin: 2vh;

    display: grid;
    grid-template-columns: 4rem auto;
    grid-template-rows: 5.2rem auto;
    gap: var(--grid-padding);

    position: relative;
}

.mobile_items {
    display: none;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.user_info {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.user_info h2 {
    font-size: var(--lbl-medium-size);
    font-weight: var(--lbl-bold-weight);
}

.side_menu {
    position: absolute;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /*top: 6rem;*/
    top: 5vh;
}

.content {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-rows: 3rem auto;
    row-gap: 3rem;
}

.navigation {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid var(--dark-gray);
}


.user_mobile_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .4rem;
    padding-bottom: 2rem;
}

.user_mobile_info h2 {
    font-size: var(--lbl-medium-size);
    font-weight: var(--lbl-bold-weight);
}





/* ---------- Adaptive ---------- */
@media (min-width: 2500px) {
    .container {
        width: 2024px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1024px) {
    .mobile_items {
        display: block;
    }

    .side_menu {
        display: none;
    }

    .user_info {
        display: none;
    }

    .container {
        min-height: 96vh;
        max-width: 92vw;
        width: 92vw;
        margin: 2vh 4vw;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 4rem min-content auto;
        gap: var(--grid-padding);
        grid-auto-flow: row;
    }

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: auto;
        grid-column-end: auto;
    }

    .content {
        width: 100%;
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: auto;
        grid-column-end: auto;
    }

    .user_mobile_info h2 {
        font-size: var(--lbl-small-size);
    }
}
