.container {
	width: 100%;
	height: 100%;

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--primary-blue);
	border-radius: var(--card-radius);
	overflow: hidden;
}

.data {
	z-index: 3;
	padding: var(--global-padding);
	color: #fff;

	display: flex;
	flex-direction: column;
	gap: var(--grid-padding);
	padding-top: 3rem;
}

.balance {
	font-size: var(--lbl-medium-size);
	font-weight: var(--lbl-light-weight);
}

.amount {
	font-size: var(--lbl-king-size);
	font-weight: var(--lbl-bold-weight);
}

.acc_number {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.acc_number p {
	font-size: var(--lbl-small-size);
	font-weight: var(--lbl-light-weight);
}

.acc_nmbr {
	display: flex;
	align-items: center;
	gap: var(--grid-padding);
}

.card_cover {
	object-fit: fill;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
}

.coin {
	display: flex;
	align-items: end;
	gap: 0.5rem;
}

.coin img {
	height: 40%;
	padding-bottom: 1rem;
}

@media (max-width: 1280px) {
	.container {
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
	}

	.data {
		padding: var(--global-padding);
		gap: 0;
	}

	.coin img {
		height: 2rem;
	}

	.balance {
		font-size: var(--lbl-small-size);
	}

	.amount {
		font-size: 3.5rem;
	}

	.card_cover {
		object-fit: cover;
		width: auto;
		position: absolute;
		bottom: 0;
		right: 0;
		height: 80%;
	}
}

@media (max-width: 500px) {
	.container {
		width: 100%;
		height: 40vh;
	}

	.coin img {
		height: 1.6rem;
		padding-bottom: 0.8rem;
	}

	.card_cover {
		object-fit: cover;
		width: auto;
		position: absolute;
		bottom: 0;
		right: 0;
		height: 50%;
	}
}
