.container {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--primary-blue);
    border-radius: var(--card-radius);
    overflow: hidden;
}

.data {
    z-index: 3;
    padding: var(--global-padding);
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: var(--grid-padding);
    padding-top: 3rem;
}

.balance {
    font-size: var(--lbl-medium-size);
    font-weight: var(--lbl-light-weight);
    background-color: var(--primary-blue);
}

.amount {
    font-size: var(--lbl-king-size);
    font-weight: var(--lbl-bold-weight);
    background-color: var(--primary-blue);
}

.acc_number {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.acc_number p {
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
    background-color: var(--primary-blue);
}

.acc_nmbr {
    display: flex;
    align-items: center;
    gap: var(--grid-padding);
}

.card_cover {
    object-fit: fill;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
}

.coin {
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.coin img {
    height: 40%;
    padding-bottom: 1rem;
}
