.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 4rem auto 4rem;
    row-gap: var(--grid-padding);
    justify-items: center;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}

.content h1 {
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
    color: var(--primary-blue);
}

.inpt_box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inpt_box label {
    font-size: 1.2rem;
    font-weight: var(--lbl-bold-weight);
}


@media (max-width: 1000px) {
    .container {
        grid-template-rows: 8rem auto 8rem;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .container {
        grid-template-rows: 8rem auto 8rem;
        align-items: center;
    }

    .content {
        width: 100%;
        height: 100%;
        gap: 4rem;
    }
}