.container {
    min-height: 96vh;
    margin: 2vh 16vw;
    display: grid;
    background-color: var(--light-gray);
    border-radius: var(--card-radius);
}

@media (max-width: 1000px) {
    .container {
        min-height: 100vh;
        margin: 0;
        display: grid;
        border-radius: 0;
    }
}

.card {
    display: grid;
    grid-template-rows: 4rem auto 4rem;
    row-gap: var(--grid-padding);
    justify-items: center;
    padding: var(--global-padding);
}

span {
    color: var(--primary-blue);
}


/*----- Gray btn -----*/
.previous_btn {
    height: 4rem;
    width: 4rem;

    align-self: start;
    justify-self: start;

    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--dark-gray);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.previous_btn:hover {
    background-color: var(--hover-gray);
}



/*----- Main content -----*/
.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.content h1 {
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
    color: var(--primary-blue);
}

.inpt_box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inpt_box label {
    font-size: 1.2rem;
    font-weight: var(--lbl-bold-weight);
}


.select_type {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 0.3px 0px var(--dark-gray);
    background-color: transparent;

    padding-top: 0.6rem;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

.select_type:hover {
    box-shadow: 0px 1px 0px #000;
}




/*----- Create btn -----*/
.create_btn {
    width: fit-content;
    padding: 1rem 3rem;
    align-self: end;
    justify-self: end;

    background-color: var(--primary-blue);
    border-radius: 32px;
    color: #fff;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);

    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.create_btn:hover {
    background-color: var(--hover-blue);
}