.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 4rem auto;
    row-gap: var(--grid-padding);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete_btn {
    background-color: var(--dark-gray);
    height: 4rem;
    padding: 0 3rem;
    align-self: end;
    justify-self: end;

    border-radius: 32px;
    color: #fff;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);

    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.delete_btn:hover {
    background-color: var(--hover-gray);
}



/*----- service cfo -----*/
.cfo_variant {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    column-gap: var(--grid-padding);
}

.cfo_service {
    background-color: var(--light-gray);
    border-radius: var(--card-radius);
    padding: var(--global-padding);
    grid-column-start: 1;
    grid-column-end: 2;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cfo_service_card {
    grid-column-start: 2;
    grid-column-end: 4;
}




.content {
    display: grid;
    grid-template-rows: 1fr 4rem 1fr;
    row-gap: var(--grid-padding);
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--grid-padding);
}

.buttons_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--grid-padding);
}

.card {
    background-color: var(--light-gray);
    border-radius: var(--card-radius);
    padding: var(--global-padding);

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--grid-padding);
}

.modif_item {
    display: grid;
    grid-template-columns: auto 2rem;
    column-gap: var(--grid-padding);
}

.modif_item button {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.identif {
    color: var(--hover-gray);
    font-size: var(--lbl-mini-size);
}

.titl {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;

    color: #000;
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
}

.manage_btn {
    background-color: var(--primary-blue);
    border-radius: 32px;
    color: #fff;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);

    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.manage_btn:hover {
    background-color: var(--hover-blue);
}




@media (max-width: 1000px) {
    .container {
        min-height: 96vh;
        max-width: 92vw;
        width: 92vw;
        height: auto;
        margin: 2vh 4vw;
    }
}


@media (max-width: 500px) {
    .container {
        display: grid;
        grid-template-rows: auto auto;
        row-gap: var(--grid-padding);
    }
    .header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
    }
    .content {
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: var(--grid-padding);
    }
    .buttons_box {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 4rem);
        column-gap: 0;
        row-gap: var(--grid-padding);
    }

    .cfo_variant {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        column-gap: 0;
        row-gap: var(--grid-padding);
    }
    
    .cfo_service {
        background-color: var(--light-gray);
        border-radius: var(--card-radius);
        padding: var(--global-padding);
        grid-column-start: auto;
        grid-column-end: auto;
    
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .cfo_service_card {
        grid-column-start: auto;
        grid-column-end: auto;
    }
    
    .box {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 0;
        row-gap: var(--grid-padding);
    }

    .delete_btn, .manage_btn {
        font-size: var(--lbl-mini-size);
        outline: none;
        border: none;
        cursor: none;
        transition: none;
    }
    
    .delete_btn:hover {
        background-color: var(--dark-gray);
    }
    .identif {
        font-size: 1.2rem;
    }
    
    .titl {
        font-size: var(--lbl-mini-size);
    }
    
    .manage_btn:hover {
        background-color: var(--primary-blue);
    }
    
}