.onboard_form {
    background-color: #fff;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.login_btn {
    width: fit-content;
    padding: 1rem 5rem;

    background-color: var(--primary-blue);
    border-radius: 32px;
    color: #fff;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);

    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.login_btn:hover {
    background-color: var(--hover-blue);
}


@media (max-width: 1399px) {
    .onboard_form {
        padding: 0 2rem;
        justify-content: center;
        gap: 4vh;
    }
}

@media (max-width: 500px) {
    .onboard_form {
        display: grid;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        padding: 2rem;
    }

    .actions {
        align-items: center;
    }

    .login_btn {
        padding: 1rem 0;
        width: 100%;
    }
}