.container {
    min-height: 96vh;
    margin: 2vh;

    display: grid;
    grid-template-columns: 4rem auto;
    grid-template-rows: 4rem auto;
    gap: var(--grid-padding);
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.header h2 {
    font-size: var(--lbl-medium-size);
    font-weight: var(--lbl-bold-weight);
}

.side_menu {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.content {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}


/* ---------- Adaptive ---------- */
@media (min-width: 3000px) {
    .container {
        width: 2024px;
        margin-left: auto;
        margin-right: auto;
    }

}