.container {
    display: grid;
    grid-template-columns: auto 4rem;
    column-gap: var(--grid-padding);

    padding: var(--global-padding);
    background-color: var(--light-gray);
    border-radius: var(--card-radius);
}

.lbl {
    width: fit-content;
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
}