.mess {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mess label {
    font-size: 1.2rem;
    font-weight: var(--lbl-bold-weight);
}

.tags {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: var(--grid-padding);
}

.message_tag {
    width: fit-content;
    background-color: #E1E1E1;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 32px;

    cursor: pointer;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
}

.message_tag:hover {
    background-color: #fff;
}