.App {
  margin: 0;
  padding: 0;
}

.a {
  text-decoration: none;
}

.a:visited {
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

:root {
  /*----- colors -----*/
  --dark-gray: #C4C4C4;
  --light-gray: #F2F2F2;
  --primary-blue: #2FB3FF;
  --secondary-blue: #D5F0FF;
  --primary-green: #91FF59;
  --secondary-green: #E8FFDE;

  /*----- sizes -----*/
  --global-padding: 1rem;
  --grid-padding: .8rem;
  --card-radius: 16px;
}