.App {
  margin: 0;
  padding: 0;
}

.a {
  text-decoration: none;
}

.a:visited {
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

:root {
  /*----- colors -----*/
  --dark-gray: #C4C4C4;
  --light-gray: #F2F2F2;
  --hover-gray: #919191;

  --primary-blue: #2FB3FF;
  --secondary-blue: #D5F0FF;
  --hover-blue: #147EBB;

  --primary-green: #91FF59;
  --secondary-green: #E8FFDE;

  /*----- padding and gap -----*/
  --global-padding: 1rem;
  --grid-padding: .8rem;
  --card-radius: 16px;

  /*----- labels font -----*/
  --lbl-mini-size: 1.4rem;
  --lbl-small-size: 1.8rem;
  --lbl-light-weight: 500;

  --lbl-medium-size: 2.2rem;
  --lbl-large-size: 2.4rem;
  --lbl-king-size: 5rem;
  --lbl-bold-weight: 600;


  /*----- buttons font -----*/
  --btn-font-size: 1.6rem;
  --btn-font-weight: 600;
}