body {
  margin: 0;
  font-family: "Inter", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ширина scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

/* цвет дорожки */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* цвет scrollbar */
body::-webkit-scrollbar-thumb {
  background-color: var(--gray-dark);
  border-radius: 20px;
  border: 3px solid transparent;
}
