.content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: var(--grid-padding);
}

.connections {
    background-color: var(--light-gray);
    border-radius: var(--card-radius);
    padding: var(--global-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--lbl-mini-size);
    color: var(--dark-gray);
}

.box {
    display: grid;
    grid-template-rows: auto 4rem;
    row-gap: var(--grid-padding);
}

.buttons_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--grid-padding);
}

.manage_btn {
    background-color: var(--primary-blue);
    border-radius: 32px;
    color: #fff;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);

    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.manage_btn:hover {
    background-color: var(--hover-blue);
}


@media (max-width: 1000px) {
    .content {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        column-gap: 0;
        row-gap: var(--grid-padding);
    }

    .buttons_box {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 4rem);
        column-gap: 0;
        row-gap: var(--grid-padding);
    }

    .box {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        column-gap: 0;
        row-gap: var(--grid-padding);
    }

    .manage_btn {
        font-size: var(--lbl-mini-size);
        outline: none;
        border: none;
        cursor: none;
        transition: none;
    }

    .manage_btn:hover {
        background-color: var(--primary-blue);
    }
}