.container {
    padding: var(--global-padding);
    background-color: var(--light-gray);
    border-radius: var(--card-radius);

    display: grid;
    grid-template-rows: 8rem auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--grid-padding);
}

.lbl {
    font-size: var(--lbl-small-size);
    font-weight: var(--lbl-light-weight);
}

.money {
    font-size: var(--lbl-medium-size);
    font-weight: var(--lbl-bold-weight);
}

.diagram {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coin {
    height: 2.4rem;
    display: flex;
    align-items: end;
    gap: 0.3rem;
}

.coin img {
    height: 50%;
    padding-bottom: 0.5rem;
}


@media (max-width: 1000px) {
    .container {
        grid-template-rows: auto 20rem;
        row-gap: var(--global-padding);
    }

    .info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: var(--grid-padding);
    }

    .diagram {
        height: 100%;
    }
}

@media (max-width: 500px) {
    .lbl {
        font-size: var(--lbl-mini-size);
    }
    .money {
        font-size: var(--lbl-small-size);
    }
    .coin {
        align-items: center;
    }
    .coin img {
        height: 1rem;
        align-self: flex-end;
        padding-bottom: 0.6rem;
    }
}