.card {
    width: 100%;
    display: grid;
    background-color: var(--light-gray);
    border-radius: var(--card-radius);
    padding: var(--global-padding);
}

@media (max-width: 1024px) {
    .card {
        width: auto;
        border-radius: 0;
    }
}